python-dotenv==1.1.0
scikit_learn==1.6.1
psutil==7.0.0
pyyaml==6.0.2
requests==2.32.4
pre-commit
black
docformatter
flake8
flake8-docstrings
flake8-bugbear
flake8-comprehensions
astroid
certifi
cfgv
charset-normalizer
coverage
dill
distlib
flake8
identify
idna
iniconfig
isort
joblib
markdown-it-py
mccabe
mdurl
nodeenv
numpy
packaging
platformdirs
pluggy
Pygments
pylint
pytest
rich
scipy
threadpoolctl
tomlkit
urllib3
virtualenv
vulture
pyupgrade
